version: "0.0.1"

services:
  # api get way Service
  api-getway:
    container_name: medease-api-gateway
    build:
      context: ./api-getway
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env.development
    volumes:
      - ./api-getway:/app
      - /app/node_modules
    command: npm run dev


  # Authentication Backend Service
  auth-backend:
    container_name: medease-auth-backend
    build:
      context: ./services/auth
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - .env.development  
    volumes:
      - ./services/auth:/app              
      - /app/node_modules                        
    command: npm run dev                         


  # Profile Backend Service
  profile-backend:
    container_name: medease-profile-backend
    build:
      context: ./services/profile
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5002:5002"
    env_file:
      - .env.development
    volumes:
      - ./services/profile:/app
      - /app/node_modules
    command: npm run dev
  